.places {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places > h1 {
    font-size: 30px;
    width: 100%;

}



.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;

}

article > h2 {
    font-size: 30px;
    text-align: center;
}
.price_by_night {
    color: #FF5A5F;
    border: solid 4px #FF5A5F;
    border-radius:50px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    float: right;
    position: relative;
    margin-top: -80px;
    text-align: center;
}

.information {
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    width: 100%;
    display: flex;
    justify-content: center;     
}
.information h5 {
    margin-top: 60px;
    text-align: center;
}
.information > div {
    background-position: center;
    background-repeat: no-repeat;
}

.max_guest {
    background-image: url(../images/icon_group.png);
    height: 80px;
    width: 100px;
    display: inline-block;
}
.number_rooms {
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: inline-block;
}
.number_bathrooms {
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: inline-block;
}
.user {
    margin-top: 10px;
}

.places article div.amenities {
    margin-top: 40px;
    width: 100%;
    height: auto;
}
.places article div.amenities h2 {
    font-size: 16px;
    border-bottom: #DDDDDD solid 1px;
}
.places article div.amenities ul {
    padding: 0px;
}

.pic-1,
.pic-2,
.pic-3 {
    position: relative;
    padding-left: 30px;
    margin: 4px;
    height: 20px;
}

.pic-1::before,
.pic-2::before,
.pic-3::before {
    display:block;
    width: 20px;
    height:20px;
    position:absolute;
    left: -5px;
    top: -10px;
    transform: scale(.5);
}

.pic-1::before {
    content: url('../images/icon_pets.png');
}

.pic-2::before {
    content: url('../images/icon_tv.png');
}

.pic-3::before {
    content: url('../images/icon_wifi.png');
}
.reviews {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: #DDDDDD solid 1px;
}
.reviews h3 {
    font-size: 14px;
}
.reviews p {
    font-size: 12px;
    margin: 0px;
}

.reviews ul {
    padding: 0px;
}
