.places {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    float: right;
    margin: -69px 0px 0px;

}

.price_by_night p {
    margin: 14px 5px 5px 5px;   
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: center;
}

.information h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 50%;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    height: 100%;

}
.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.user span {
    font-weight: bold;
}

article .amenities {
    padding-left: 0px;
    width: 100%;
    height: auto;
}

article .amenities h2 {
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
    text-align: left;
    margin-top: 40px;
    padding-bottom: 10px;
    width: 100%;
}

article .amenities li {
    list-style: none;
}

article .amenities ul {
    padding: 16px;
}
.amenities-1,
.amenities-2,
.amenities-3 {
    position: relative;
}

.amenities-1::before,
.amenities-2::before,
.amenities-3::before {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
    margin: 0px 0px 8px 5px;
}

.amenities-1::before {
    background-image: url("../images/icon_tv.png");
}

.amenities-2::before {
    background-image: url("../images/icon_wifi.png");  
}

.amenities-3::before {
    background-image: url("../images/icon_pets.png");
}

.reviews {
    font-size: 16px;
}

.reviews li h3 {
    font-size: 14px;
}
.reviews p {
    font-size: 14px;
}
