footer {
    background-color: white;
    height: 60px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px; 
    left: 0;
    right: 0;
    border-top: solid #CCCCCCCC 1px;
}
